<body>
	<!--[cardImg]="'../../src/assets/img/battery_used.svg'"-->
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-sm-12">
					<app-card [cardType]="simple" [cardTitle]="'Number of Sessions'" [cardIcon]="'fa fa-tasks'" [cardData]="nbSessions">
					</app-card>
				</div>

				<div class="col-lg-4 col-sm-12">
					<app-card [cardType]="simple" [cardTitle]="'Average Time by Session'" [cardIcon]="'fa fa-clock-o'" [cardData]="averageTimeSession">
					</app-card>
				</div>

				<div class="col-lg-4 col-sm-12">
					<app-card [cardType]="simple" [cardTitle]="'Main Activity'" [cardIcon]="'fa fa-flash'" [cardData]="mainActivity">
					</app-card>
				</div>
			</div>
		</div>
		<!-- <app-calendar></app-calendar> -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-xs-12">
					<app-card [cardType]="chart" [cardTitle]="'Activity Types'" [cardSubtitle]="'Men'" [chartClass]="'ct-perfect-fourth'"
					 [chartType]="manActChartType" [chartData]="manActChartData" [chartOptions]="manActChartOptions" [chartResponsive]="manActChartResponsive"
					 [legendItems]="manActChartLegendItems">
					</app-card>
				</div>
				<div class="col-lg-6 col-md-12 col-xs-12">
					<app-card [cardType]="chart" [cardTitle]="'Activity Types'" [cardSubtitle]="'Women'" [chartClass]="'ct-perfect-fourth'"
					 [chartType]="womanActChartType" [chartData]="womanActChartData" [chartOptions]="womanActChartOptions"
					 [chartResponsive]="womanActChartResponsive" [legendItems]="womanActChartLegendItems">
					</app-card>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<app-card [cardType]="chart" [cardTitle]="'Engagement by Activity'" [cardSubtitle]="'During the period'" [chartClass]="'ct-perfect-fourth'"
					 [chartType]="engagementChartType" [chartData]="engagementChartData" [chartOptions]="engagementChartOptions"
					 [chartResponsive]="engagementChartResponsive" [legendItems]="engagementChartLegendItems">
					</app-card>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 col-xs-12">
					<app-card [cardType]="chart" [cardTitle]="'Average Activity Duration (in minutes)'" [cardSubtitle]="'&nbsp;'" [chartClass]="'ct-perfect-fourth'"
					[chartType]="averageChartType" [chartData]="averageChartData" [chartOptions]="averageChartOptions"
					[chartResponsive]="averageChartResponsive" [legendItems]="averageChartLegendItems">
					</app-card>
				</div>
				<div class="col-lg-6 col-md-12 col-xs-12">

					<app-card [cardType]="chart" [cardTitle]="'Outside Temperature'" [cardSubtitle]="'In Percentage'" [chartClass]="'ct-perfect-fourth'"
					 [chartType]="thermalChartType" [chartData]="thermalChartData" [chartOptions]="thermalChartOptions"
					 [chartResponsive]="thermalChartResponsive" [legendItems]="thermalChartLegendItems"
					 [showToggle]="'true'" (labelDegreeChange)="updateLabelDegree($event)">
					</app-card>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<app-card [cardTitle]="'Location'" [cardType]="map" [mapData]="mapData" [mapType]="color" [legendCountries]="legendCountries">
					</app-card>
				</div>
			</div>
		</div>
	</div>
</body>
