@import "../../../assets/sass/lbd/variables";

.decal {
    padding-left: 5%;
    cursor: pointer;
}

.decal:hover {
    color: rgb(51, 122, 183);
}

.align_right {
    right: 0;
    left: auto;
}

.noPaddingRight {
    padding-right: 0;
}

.noPaddingLeft {
    padding-left: 0;
}

::ng-deep .mat-slide-toggle-bar {
    background-color: $dashboard_blue;
}

::ng-deep .mat-slide-toggle-thumb {
    background-color: $dashboard_blue;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: $dashboard_grey;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $dashboard_grey;
}

#degreeLabel, #fahrenheitLabel {
    border-width: 1px;
}

.labelActive  {
    border-color: $dashboard_blue;
    background: $dashboard_blue;
    color: $dashboard_grey;
}

.labelNotActive {
    border-color: $dashboard_blue;
}

// #degreeLabel:hover, #degreeLabel:focus,
#degreeInput, #degreeInput:hover, #degreeInput:focus {
    border-width: 0px;
    border: none;
}

// #fahrenheitLabel:hover, #fahrenheitLabel:focus,
#fahrenheitInput, #fahrenheitInput:hover, #fahrenheitInput:focus {
    border-width: 0px;
    border: none;
}

.degreeActive {
    color: $white-color;
    border-width: 0px;
    border: none;
    background: none;
    outline: none !important;
    box-shadow: none;
}

.degreeNotActive {
    color: $dashboard_grey;
    border-width: 0px;
    border: none;
    background: none;
    outline: none !important;
    box-shadow: none;
}

// #degreeInput:checked {
//     color: $dashboard_blue;
// }

// #fahrenheitInput:checked {
//     color: $dashboard_blue;
// }