<body>
  <!-- retirer body pour enlever background-->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <app-card [cardType]="simple" [cardTitle]="'Users'" [cardIcon]="'fa fa-user'" [cardData]="nbUsers">
          </app-card>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <app-card [cardType]="simple" [cardTitle]="'Average Activity'" [cardIcon]="'fa fa-clock-o'"
            [cardData]="averageAct">
          </app-card>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <app-card [cardType]="simple" [cardTitle]="'Heat Waves'" [cardIcon]="'fa fa-thermometer-4'"
            [cardData]="nbHeatWaves">
          </app-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <app-card [cardType]="simple" [cardTitle]="'Countries'" [cardIcon]="'fa fa-flag'" [cardData]="nbCountries">
          </app-card>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-xs-12">
          <app-card [cardType]="chart" [cardTitle]="'N° Sessions'" [cardSubtitle]="''" [chartClass]="'ct-perfect-fourth'"
            [chartType]="sessionsChartType" [chartData]="sessionsChartData" [chartOptions]="sessionsChartOptions"
            [chartResponsive]="sessionsChartResponsive" [legendItems]="sessionsChartLegendItems">
          </app-card>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12">
          <app-card [cardType]="chart" [cardTitle]="'Activity Types'" [cardSubtitle]="'In Percentage'" [chartClass]="'ct-circle-fourth'"
            [chartType]="activityTypesChartType" [chartData]="activityTypesChartData" [legendItems]="activityTypesChartLegendItems" [chartOptions]="activityTypesChartOptions">
          </app-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <app-card [cardType]="chart" [cardTitle]="'User Profile'" [cardSubtitle]="'By Gender'" [chartClass]="'ct-circle-fourth'"
            [chartType]="userGenderChartType" [chartData]="userGenderChartData" [chartOptions]="donutChartOptions"
            [legendItems]="userGenderChartLegendItems">
          </app-card>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <app-card [cardType]="chart" [cardTitle]="'User profile'" [cardSubtitle]="'In Percentage Split by Age Group'"
            [chartClass]="'ct-perfect-fourth'" [chartType]="userAgeChartType" [chartData]="userAgeChartData"
            [chartOptions]="userAgeChartOptions" [chartResponsive]="userAgeChartResponsive" [legendItems]="userGenderChartLegendItems">
          </app-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9 col-md-12">
          <app-card [cardTitle]="'Location'" [cardType]="map" [mapData]="mapData" [mapType]="color" [legendCountries]="legendCountries">
          </app-card>
        </div>
        <div class="card col-lg-3 col-md-12" style="margin: 0; color: grey;">   
          <h4 style="font-family: Arial, Helvetica, sans-serif;">Average Outside Temperature: {{ averageOutsideTemp }}</h4>
          <hr class="myHr">
          <h4 style="font-family: Arial, Helvetica, sans-serif;">Average Body Temperature: {{ averageBodyTemp }}</h4>
          <hr class="myHr">
          <h4 style="font-family: Arial, Helvetica, sans-serif;">Average Heat Duration: {{ averageHeatDuration }}</h4>
          <hr class="myHr">
          <h4 style="font-family: Arial, Helvetica, sans-serif;">Average Heat Waves/User: {{ averageHeatWaves }}</h4>
        </div>
      </div>
    </div>
  </div>
</body>
