body {
	background: url('../../assets/img/lake.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.myHr {
	border-top: 2px solid #c5c5c5;
}