<footer class="footer footer_all">
    <div class="container-fluid">
        <p class="copyright pull-right dashboard">
            &copy; {{test | date: 'yyyy'}} <a href="" target="_blank">Dashboard</a>
	</p>
	<ul class="footer_ul">
		<li class="footer_social"><a href="" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a></li>
		<li class="footer_social"><a href="" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a></li>
		<li class="footer_social"><a href="" target="_blank"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a></li>
	</ul>
    </div>
</footer>
