
@use '@angular/material' as mat;
@import '~node_modules/bootstrap/scss/bootstrap-grid';
@import "variables";
@import "mixins";

$agd-primary: mat.define-palette($primary-palette);
$agd-accent: mat.define-palette(mat.$purple-palette);
$agd-theme: mat.define-light-theme(
    (
        color: (
            primary: $agd-primary,
            accent: $agd-accent,
        ),
    )
);

@include mat.core();
@include mat.all-component-themes($agd-theme);

@font-face {
    font-family: "MainFontRegular";
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "MainFontBold";
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--agd-fonts-selection);
    margin: 0;
    line-height: 1.5;
    font-size: var(--agd-md-size);
}

.agd-pointer {
    cursor: pointer;
}

//////////////////////////
////////////////////////// CONTENT
//////////////////////////
div.agd-content-with-top-bar {
    width: 100%;
    height: calc(100% - 52px);
    overflow-y: auto;
    background: var(--agd-background);
}

div.agd-content {
    width: 100%;
    height: calc(100%);
    overflow-y: auto;
    background: var(--agd-background);
}

div.agd-top-bar {
	@include box_shadow_top_bar();
    height: 50px;
    margin-bottom: 2px;
}

//////////////////////////
////////////////////////// BOX
//////////////////////////
.agd-card {
    position: relative;
    height: auto;
    background: var(--agd-white);
    border-radius: 5px;
    @include box_shadow;
}

//////////////////////////
////////////////////////// SPACING
//////////////////////////
.agd-height-fill-available {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
}

//////////////////////////
////////////////////////// TEXT
//////////////////////////

.agd-title {
    font-family: MainFontRegular;
    font-size: var(--agd-xxl-size);
    color: var(--agd-text-main);
}

.agd-subtitle {
    font-family: MainFontBold;
    font-size: var(--agd-lg-size);
    color: var(--agd-text-main);
}

.agd-text {
    font-family: MainFontRegular;
    font-size: var(--agd-md-size);
    color: var(--agd-text-main);
}

.agd-text-bold {
    font-family: MainFontBold;
    font-size: var(--agd-md-size);
    color: var(--agd-text-main);
}

.agd-text-white {
    font-family: MainFontRegular;
    font-size: var(--agd-md-size);
    color: var(--agd-white);
}

.agd-text-white-bold {
    font-family: MainFontBold;
    font-size: var(--agd-md-size);
    color: var(--agd-white);
}


//////////////////////////
////////////////////////// BACKGROUNDS
//////////////////////////

.agd-primary-bg {
    background-color: var(--agd-primary);
}

.agd-seconday-bg {
    background-color: var(--agd-secondary);
}

.agd-tertiary-bg {
    background-color: var(--agd-tertiary);
}

//////////////////////////
////////////////////////// CONTAINERS
//////////////////////////

.agd-circle {
    user-select: none;
    border-radius: 100%;
    width: 2em;
    min-width: 2em;
    height: 2em;
}

//////////////////////////
////////////////////////// ACTIONS
//////////////////////////

.agd-top-bar-actions {
    height: 50px;
    width: auto;
    border-bottom: 2px solid transparent;

    button {
        height: 30px;
        line-height: 30px;
        width: auto;
    }

    &.active:not([disabled]) {
        border-color: var(--agd-primary);

        button {
            color: var(--agd-primary) !important;
            font-family: MainFontBold;

            &.disabled {
                color: var(--agd-grey-light);
            }
        }
    }
}


